<h1>High Scores</h1>

<div id='newDiv'><p>Press (n) to start a new game!</p></div>

<table id='scoresTable'>
  <tr>
    You scored <%= @score.points %> points and answered
     <% if @score.guesses != 0 %>
        <%= ((@score.correct.to_f/@score.guesses.to_f)*100).round %>%
      <% end  %>
    of the questions correctly!</tr>
  <tr>
    <th>Points</th>
    <th>Name</th>
    <th>Guesses</th>
    <th>Percentage</th>
  </tr>

  <% @scores.each do |score| %>
    <tr>
      <td><%= score.points %></td>
      <td>
        <% if score.name != "" %>
          <%= score.name %>
        <% else %>
          Guest
        <% end  %>
      </td>
      <td><%= score.guesses %></td>
      <td>
        <% if score.guesses != 0 %>
          <%= ((score.correct.to_f/score.guesses.to_f)*100).round %>%
        <% end  %>
      </td>
    </tr>
  <% end %>
</table>
