<!DOCTYPE html>
<html>

<head>
  <title>MatchaPanda</title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div id="header">
    <h1><img src='<%= asset_path 'icon.png' %>'>MatchaPanda</h1>
  </div>

  <div id="article">
    <%= yield %>
  </div>


  <footer>
    <p>WDI Reduce February 2014 - Made by <a href="http://jessema.com">Jesse Ma</a> - <a href="https://github.com/CH-JesseMa/memory_app">GitHub</a>
 </p>
  </footer>
</body>
</html>
